<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>

  <main class="container">
    <div class="jumbotron">
    <h1>Welcome to the <strong><%-title%></strong> section of my portfolio</h1>

          <%-include contents/about.ejs%> 

  </div>
  </main>


<%-include partials/bottom_nav.ejs%>

<%-include partials/footer.ejs%>
