<!--including header from partials folder-->
<%-include partials/header.ejs%>

<!--including main navigation from partials folder-->
<%-include partials/main_nav.ejs%>

<!--calling and email sysbols-->
<a href="tel:4161234567"><img src="\Assets\images\call.png" class="contactUsPhone"></a>
<a href="mailto:info@singhrealestate.ca"><img src="/Assets/images/mail.png" class="contactUsEmail"></a>
<main class="container">
  <div class="jumbotron">
    <h1>Welcome to the <strong><%-title%></strong> section of my portfolio</h1><br>

          <%-include('\contents'+page+'.ejs');%> 

  </div>
</main>

<!--including bottom navigation from partials folder-->
<%-include partials/bottom_nav.ejs%>

<!--including footer from partials folder-->
<%-include partials/footer.ejs%>
